@import "styles/mixins.scss";
@import "styles/colors.scss";
@import "styles/fonts.scss";

.a-text {
  font-weight: $font-regular;
  color: $color-secondary-one;
  text-align: left;
  font-size: $font-14;
  line-height: 20px;

  //font sizes
  &--12 {
    font-size: $font-12;
    line-height: 17px;
  }

  &--14 {
    font-size: $font-14;
    line-height: 20px;
  }

  &--13 {
    font-size: $font-13;
    line-height: 20px;
  }

  &--16 {
    font-size: $font-16;
    line-height: 22px;
  }

  &--18 {
    font-size: $font-18;
    line-height: 25px;
  }
  &--20 {
    font-size: $font-20;
    line-height: 28px;
  }

  //font weights
  &--bold {
    font-weight: $font-bold;
  }
  &--regular {
    font-weight: $font-regular;
  }
  &--medium {
    font-weight: $font-medium;
  }
  &--semi-bold {
    font-weight: $font-semi-bold;
  }

  //colors
  &--white {
    color: $color-white;
  }

  &--green {
    color: $color-secondary-four;
  }

  &--primary {
    color: $color-primary;
  }

  &--cinnabar {
    color: $color-error;
  }

  &--black-cow {
    color: $color-black-cow;
  }

  &--carbon-grey {
    color: $color-carbon-grey;
  }

  //text-alignments
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  //font styles
  &--italic {
    font-style: italic;
  }

  &__required {
    color: $color-persian-red;
    font-weight: 800;
  }

  //backgrounds
  &--background {
    padding: 8px;
    opacity: 0.7;
    border-radius: 5px;
  }

  &--success {
    background-color: $color-secondary-four;
  }

  &--error {
    background-color: $color-error;
  }
}
