$color-white: #ffffff;
$color-secondary-two: #718096;
$color-shadow-button: rgba(231, 228, 255, 1);
$color-warning: #ff6712;
$color-burning-orange: #ff7527;
$color-light-warn: #ff37002d;
$color-secondary-four: #48bb78;
$color-seaweed-green: #32ab64;
$color-light-green: #00ff002c;
$color-blueberry: #4339b4;
$color-secondary-one: #2d3748;
$color-ebony-clay: #212c40;
$color-error: #e53e3e;
$color-persian-red: #cf2e2e;
$color-primary: #4d44b5;
$color-clear-blue: #1f70ff;
$color-blueberry: #4339b4;
$color-gray-light-two: #c3cad2;
$color-white-two: #f8f8f8;
$color-white-three: #f7fff7;
$color-secondary-five: #44be77;
$color-black-cow: #474747;
$color-carbon-grey: #5e5e5e;
